
<div class="addForm">
    <form [formGroup]="addParcelForm" (ngSubmit)="addParcels()">
        <h3 style="text-align: center;">Please Add Your Parcel Here</h3>
          <div class="input">
            <label for="name">Name</label>
            <input type="text" formControlName="name">
         </div>
    
         <div class="input">
            <label for="name">Email</label>
            <input type="text" formControlName="email">
         </div>
    
         <div class="input">
            <label for="name">Destination</label>
            <input type="text" formControlName="Destination">
         </div>

        <button type="submit"> Submit Parcel</button>
    </form>
</div>
