.addForm{
    width: 50%;
    padding: 20px;
    margin-left: 30%;
    background-color: coral;
    margin-top: 50px;
}
form{
    display: flex;
    flex-direction: column;
    gap: 50px;
}
span{
    text-align: center;
    color: red;
}
.input{
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: center;
}
.input label{
    width: 100px;
    /* padding: 10px; */
}
button{
    width: 20%;
    padding: 10px;
    margin-left: 40%;
}
.input input{
    padding: 10px;
}